/* new start  */
/* .header-items div.myitem:nth-child(1) {
  flex: 0 0 18%;
  max-width: 18%;
}

.header-items div.myitem:nth-child(2) {
  flex: 0 0 14%;
  max-width: 14%;
  padding-right: 0;
}

.header-items div.myitem:nth-child(3) {
  flex: 0 0 47%;
  max-width: 48%;
}

.header-items div.myitem:nth-child(4) {
  flex: 0 0 15%;
  max-width: 25%;
  padding-left: 0;
  justify-content: space-around;
}

.community-link {
  margin-left: 0;
  margin-right: 15px;
} */

/* new end  */

@media (min-width: 768px) {
  /* .col-md-3 {
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  max-width: 22%;
  } */
}

.signup-top i {
  cursor: pointer;
}
.signin-modal a :hover {
  color: black !important;
}
.dont-have-an-acc {
  color: grey;
  background-color: grey;
  height: 0.5;
  width: 60%;
  margin-top: 30px;
}

.loading-signin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60px;
  border-radius: 50px;
  background: #a5b9f5;
  border: none;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-top: 15px;
}
.header-logo {
  width: 180px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 18px;
}

.header-sign-in-btn {
  background-color: #ecd153;
  color: black;
  border-radius: 20px;
  width: 100px;
  border: 0;
  height: 35px;
  cursor: pointer;
}

.cat-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 24px;
  margin-top: -3px;
}

svg.svg-inline-header-cat-icon {
  height: 24px;
  width: 24px;
  fill: #333333;
}

p.cat-label-text {
  font-family: montserrat;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding: 0px 5px 0px 7px;
  letter-spacing: 0.01em;
  margin: 0;
}
svg.svg-inline--fa.fa-sort-down.fa-w-10.mb-1 {
  margin-top: -4px;
}

.cat-and-icon-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}
.header-container {
  /* width: 100%; */
  height: 60px;
  /* background-color: white; */
  /* border-bottom: 1px solid silver; */
  /* display: flex;
  align-items: center; */
}

.cs-plus-image-div {
  display: block;
  margin-bottom: 15px;
  /* text-align: center; */
}

.cs-plus-image-div img {
  width: 100%;
  object-fit: contain;
}

.header-bg {
  background-color: white;
  border-bottom: 1px solid silver;
  padding: 20px 0px;
  z-index: 5;
  position: relative;
}

.header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

svg.search-icon {
  height: 20px;
  width: 20px;
  fill: #b3b3b3;
  margin: 0 7px;
}
.search-container {
  padding: 6px 10px 7px 10px;
  margin-top: 2px;
  border-radius: 33px;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}

.search-textInput {
  width: 100%;
  height: 25px;
  font-family: Montserrat;
  font-weight: 500 !important;
  font-size: 20px !important;
  outline: none;
  border: 0;
  color: #333333;
}

.search-textInput::placeholder {
  color: #b3b3b3;
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .col-md-5 {
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
  }
}

@media (min-width: 768px) {
  .myitem.col-md-2.comunity-and-user-icon {
    -ms-flex: 0 0 22.5%;
    flex: 0 0 22.5%;
    max-width: 22.5%;
    padding-right: 20px;
    flex-direction: row;
    margin-top: 0.5rem !important;
  }
}

.comunity-and-user-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.community-link {
  font-family: montserrat;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 19px;
  padding: 2px 20px 0px 7px;
  letter-spacing: 0.01em;
  color: #333333;
}

.community-link:hover {
  color: #3b66f5;
  text-decoration: none;
}

.user-acc-circle {
  padding-right: 3px;
  background-color: #3890fc;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  text-transform: capitalize;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  position: relative;
}
.user-acc-circle-dropdown {
  background-color: #3890fc;
  border-radius: 50%;
  text-transform: capitalize;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-acc-label {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat";
  margin: -1px 0px 0px 2px;
}

.user-acc-label-dropdown {
  font-size: 35px;
  color: white;
  font-family: "Montserrat";
  margin: 0;
}
.content-left {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.content-right {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.user-acc-info-div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
  align-items: flex-start;
}

.dropdown-pointer {
  background-color: #333333;
  z-index: 999;
  /* background-color: red; */
  transform: rotate(45deg) !important;
  padding: 10px;
  top: -15px;
  left: 183px;
  border-radius: 5px;
  position: relative;
}
.header-dropdown {
  z-index: 9999;
  box-shadow: 0px 3px 4px 2px #00000067;
  position: absolute;
  top: 58px;
  right: -10px;
  background-color: #333333;
  border-radius: 10px;
  padding: 18px 15px 0px 15px;
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-dropdown::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 37px;
  width: 15px;
  height: 15px;
  border: 14px solid transparent;
  border-top: 0;
  border-bottom: 16px solid #333333;
}
p.cat-label svg:last-child {
  position: relative;
  top: -4px !important;
}
.dropdown-options-label {
  text-transform: capitalize;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  margin: 10px 2px;
  cursor: pointer;
  color: white;
}
.dropdown-options-label:last-child {
  margin-bottom: 30px;
}

.image-and-info-div {
  margin-top: -25px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  padding: 10px 0px;
}
.username-dropdown {
  color: white;
  margin: 0;
  margin-bottom: -6px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}

.user-email-dropdown {
  color: white;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 200;
  margin-bottom: -7px;
  font-size: 14px;
}

.user-acc-type-dropdown {
  color: white;
  font-weight: 800;
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
}

.header-dropdown .star-container {
  margin-bottom: 5px;
  margin-right: 3px;
}

.comunity-and-user-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.small-logo {
  display: none;
}

/* @media (max-width: 1440px) {

  .header-dropdown {
    right: 142px;
  }
  .header-dropdown {
    right: 129px;
}
} */

@media (max-width: 1366px) {
  .header-logo {
    width: 200px;
    cursor: pointer;
  }
  .cat-label {
    font-size: 17px;
  }

  .header-dropdown {
    width: 315px;
  }
  .cat-label {
    font-size: 17px;
  }

  .header-dropdown {
    width: 315px;
  }
}

@media (max-width: 1200px) {
  p.cat-label svg:last-child {
    top: -4px !important;
  }
  .header-logo {
    width: 180px;
  }
  /* .header-dropdown {
  right: 40px !important;
} */

  .cat-label {
    font-size: 14px;
  }

  .community-link {
    font-size: 14px;
  }

  .user-acc-label {
    font-size: 19px;
  }

  .user-acc-circle {
    margin-left: 15px;
    height: 100%;
    width: 100%;
  }

  .search-container {
    max-width: 350px;
    padding: 6px 10px !important;
  }
}

/* @media (max-width: 1024px) {
  /* .header-dropdown {
    right: 32px !important;
  } 
} */

@media (max-width: 991px) {
  .myitem:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }
  .user-acc-circle {
    margin-left: 5px;
    padding: 3px 11px;
    padding-right: 12px;
  }
  .cat-label {
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .comunity-and-user-icon {
    padding-left: 0;
    margin-left: -20px;
  }
  .header-items {
    justify-content: space-between;
  }
  .header-logo {
    cursor: pointer;
    width: 150px;
  }
  .search-container {
    width: 185px;
  }
  .search-textInput {
    width: 140px;
  }

  .cat-label {
    margin: 0 auto;
  }

  .search-textInput::placeholder {
    font-size: 15px;
  }
  .community-link {
    font-size: 14px;
  }
  /* .header-dropdown {
    right: 2px !important;
  } */
}

@media (max-width: 767px) {
  .user-acc-type-dropdown {
    color: black;
  }
  .username-dropdown {
    margin-bottom: 0px;
    font-size: 16px;
    color: black;
  }
  .user-email-dropdown {
    margin-bottom: -7px;
    font-size: 12px;
    color: black;
  }
  .dropdown-options-label {
    font-size: 16px;
    margin: 10px 0px;
    color: #333333;
    font-family: "Montserrat-medium";
    font-size: 20px;
    margin-bottom: 35px;
    margin-left: 10px;
  }
  .header-dropdown {
    padding-top: 50px;
  }
  .header-dropdown .dropdown-options-label:last-child {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
  .header-dropdown::before {
    display: none;
  }
  .dropdown-pointer {
    display: none;
  }
  .header-dropdown {
    position: fixed;
    top: 0;
    right: 0px !important;
    height: 100vh;
    background: white;
  }
  .community-link {
    font-size: 14px;
    margin-left: 0;
  }
  .comunity-and-user-icon {
    justify-content: flex-start;
  }
  .myitem:nth-child(2) {
    padding-left: 20px;
    padding-right: 0;
  }
  .header-logo {
    cursor: pointer;
    width: 270px;
  }
  .cat-label {
    font-size: 16px;
    margin: 16px 0px;
  }
  .search-container {
    width: 514px;
  }
  .search-textInput {
    width: 464px;
  }
  .comunity-and-user-icon {
    margin: 8px 0px;
  }
  .row.header-items div.myitem:nth-child(3) .search-container {
    margin-left: -13px;
  }
  .search-textInput {
    width: 100%;
  }

  .user-acc-circle {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    padding-right: 10px;
  }

  .header-bg {
    padding: 12px 0 0 0;
  }
}

@media (max-width: 767px) {
  .small-logo {
    display: block;
  }
  .top10-book-title {
    font-size: 13px;
  }
  .dropdown-pointer {
    left: 202px;
  }
  .search-container {
    width: 300px;
  }
  .footer-parent {
    height: 100% !important;
  }
  .links-container {
    /* align-items: center !important; */
    margin: 10px 0px 10px 60px;
    align-self: center;
  }

  .row.header-items div.myitem:nth-child(1) {
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 0;
  }

  .row.header-items div.myitem:nth-child(2) {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 30px !important;
    text-align: right;
    display: none;
  }

  .row.header-items div.myitem:nth-child(3) {
    flex: 0 0 55%;
    max-width: 55%;
    padding: 0;
  }

  .row.header-items div.myitem:nth-child(4) {
    flex: 0 0 20%;
    max-width: 20%;
    justify-content: center !important;
    padding: 0;
  }

  .row.header-items div.myitem:nth-child(1) img {
    width: 54px;
  }

  .row.header-items div.myitem:nth-child(3) .search-container {
    width: 100%;
    min-height: 35px;
    display: flex;
    width: auto;
  }

  .row.header-items div.myitem:nth-child(1) img.header-logo {
    display: none;
    cursor: pointer;
  }

  .row.header-items div.myitem:nth-child(4) .community-link {
    display: none;
  }
}
.myitem.col-md-5:hover .search-container {
  border: 1px solid #3b66f5;
  background-color: rgba(208, 222, 255, 0.3);
  cursor: pointer;
}

.myitem.col-md-5:hover .search-container svg.search-icon {
  filter: invert(103%) sepia(44%) saturate(3434%) hue-rotate(218deg)
    brightness(98%) contrast(97%);
}

.myitem.col-md-5:hover .search-container input.search-textInput::placeholder {
  color: #3b66f5;
}

.myitem.col-md-5:hover .search-container input.search-textInput {
  background-color: transparent;
  cursor: pointer;
}
.cat-label:hover svg.svg-inline-header-cat-icon,
.cat-label:hover p.cat-label-text,
.cat-label:hover svg.svg-inline--fa.fa-sort-down.fa-w-10.mb-1 path {
  fill: #3b66f5;
  color: #3b66f5;
}

.category dropdown-menu {
  background-color: #333333;
}

/* @media (max-width: 375px) {
  .search-textInput {
    width: 129px;
  }
  .header-dropdown {
    top: 66px;
    left: 63px;
  }
}  */

/* As CSS */

@media (max-width: 767px) {
  .my_prof_header .row.header-items {
    flex-flow: wrap;
    row-gap: 8px;
  }

  .my_prof_header .row.header-items .myitem.col-md-3 {
    padding: 0;
  }

  .my_prof_header .row.header-items .user-acc-circle {
    position: relative;
    display: block;
  }

  p.user-acc-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .my_prof_header .row.header-items .col-sm-12.col-12.tabs-header {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .my_prof_header .row.header-items ul.nav.nav-pills.nav-fill {
    flex-flow: unset;
  }

  .my_prof_header .row.header-items ul.nav.nav-pills.nav-fill li.nav-item a {
    font-size: 12px;
    text-align: center;
  }

  .my_prof_header .row.header-items .search-container {
    margin-top: 0;
    padding: 5px !important;
    height: auto;
    min-height: unset;
  }

  .my_prof_header .row.header-items input.search-textInput {
    font-size: 14px !important;
  }
}
