.modal-css {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 477px;
  /* padding: 119px 1px 0px 0px; */
  padding: 131px 22px 8px 20px;
}

.forget-pass-modal-css {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 450px;
  padding: 0px 30px 5px 30px;
}

.reset-info {
  color: #999999a6;
}

.modal-css h2 {
  font-size: 25px;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.forget-pass-modal-css .submit-button {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  width: 155px;
  height: 45px;
  font-size: 14px;
}

.forget-pass-modal-css h2 {
  font-size: 25px;
  margin-top: 20px !important;
  margin-bottom: 0;
}
p.modal1text {
  font-weight: 700;
  color: #999;
  margin-top: 0;
}
form.poppup-2 {
  width: 100%;
  margin-top: 40px;
}

h1.signup-top {
  font-size: 26px;
  margin-top: 0;
  width: 100%;
}

.popup-form input {
  font-size: 15px;
  color: black;
  border: none;
  border-bottom: 2px solid #9999;
  border-radius: 0;
  position: relative;
  margin-bottom: 30px;
}

.forget-pass-modal-css input {
  font-size: 15px;
  color: black;
  border: none;
  border-bottom: 2px solid #9999;
  border-radius: 0;
  position: relative;
  margin-bottom: 0px;
}
.popup-form input:focus {
  border-color: #5478ed;
  outline: none;
  box-shadow: none;
}
.popup-form input:focus .popup-form ~ label {
  color: #5478ed;
}
.poppup-2 button {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  background: #a5b9f5;
  border: none;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-top: 15px;
}
span.forgot-pass {
  font-size: 16px;
  color: #999;
  font-weight: 700;
}

.desc-box-ratings {
  align-items: center !important;
  display: flex;
}

.forget {
  font-weight: 700;
  color: #6282ee;
  margin-top: 30px;
}

span.tap-here {
  margin-left: 5px;
}

form.poppup-2 label {
  color: #999999a6;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-size: 17px;
}
/* modal hamza css  end*/

.google-logIn-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 50px;
  border: 1px solid gray;
  background: white;
  height: 60px;
  margin-top: 20px;
  cursor: pointer;
}
.google-Icon {
  /* width: 35px;
    height: 35px; */
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.google-logIn-p {
  text-align: center;
  width: 100%;
  padding-right: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #666;
}
.discord-logIn-div {
  background-color: #202225;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 50px;
  border: 1px solid transparent;
  /* background: white; */
  height: 60px;
  cursor: pointer;
  margin-top: 12px;
  background: #5a71ea;
}
.discord-logIn-p {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
}
.discord-Icon {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 10px;
}
.discord-Icon img {
  filter: brightness(0) invert(1);
}

.email-logIn-div {
  background-color: #202225;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 50px;
  border: 1px solid transparent;
  /* background: white; */
  height: 60px;
  margin-top: 10px;
  cursor: pointer;
}
.email-Icon {
  margin-left: 15px;
  margin-top: 10px;
}
.email-login-p {
  text-align: center;
  width: 100%;
  margin-left: auto;
  padding-right: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}
.modal-css hr {
  display: none;
}

.forget-pass-modal-css hr {
  display: none;
}

.text-color p {
  font-size: 18px;
  font-weight: 700;
  color: #999;
  margin-bottom: 5px;
}
.create-account-div {
  background-color: #c3c5c7;
  color: #202225;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 200px;
  border-radius: 50px;
  border: 1px solid transparent;
  height: 40px;
  cursor: pointer;
  color: #444;
}
.border {
  background-color: gold;
  margin-top: -10px;
  width: max-content;
  display: none;
  /* width: 450px; */
}
.text-color p {
  font-size: 18px;
  font-weight: 700;
  color: #999;
  margin-bottom: 5px;
  margin-top: 5px;
}

.ReactModal__Content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background: #ffcd40;
}

.ReactModal__Content {
  border-radius: 10px !important;
}

.twitter-logIn-div {
  display: flex;
  margin-top: 20px;
}

.huawei-Icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  overflow: hidden;
  background-color: black;
  /* margin-left: 15px;
    margin-top: 10px; */
}
.signIn-logos {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 50px 0px;
  cursor: pointer;
}
.huawei-Icon img {
  height: 46px !important;
  width: 50px !important;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
.text-color {
  color: gray;
  display: flex;
  justify-content: center;
}
p.discord-logIn-p a {
  display: block;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.modal-css svg {
  width: 20px;
  height: 20px;
  margin-left: 445px;
  margin-top: -115px;
  cursor: pointer;
}

.forget-pass-modal-css svg {
  width: 20px;
  height: 20px;
  margin-left: 444px;
  /* margin-top: -24px; */
  cursor: pointer;
}

.heading-div {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin-bottom: 30px;
  background-color: rgba(208, 222, 255, 0.3);
  border-bottom: 1px solid #dcdce2;
}
.heading {
  display: flex;
  margin-top: 50px;
  font-weight: bold;
  font-size: 50px;
  margin-left: 240px;
  color: #3b66f5;
}
.sub-headings {
  display: flex;
  flex-direction: row;
  margin-left: 240px;
}
.sh-1 {
  /* margin-top: auto; */
  font-size: 25px;
  color: gray;
  border-bottom: 3px solid transparent;
}
.sh-1:hover {
  color: black;
  border-bottom: 3px solid #3b66f5;
  cursor: pointer;
}
.sh-2 {
  /* margin-top: auto; */
  font-size: 25px;
  border-bottom: 3px solid transparent;
  color: gray;
  margin-left: 40px;
}
.sh-2:hover {
  color: black;
  border-bottom: 3px solid #3b66f5;
  cursor: pointer;
}
.sh-3 {
  /* margin-top: auto; */
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 40px;
  font-size: 20px;
  color: #3b66f5;
}
.sh-4 {
  /* margin-top: auto; */
  margin-top: 30px;
  margin-right: auto;
  font-size: 20px;
  color: #3b66f5;
}
.book-title {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: -7px;
}
.books-display {
  display: flex;
  align-items: flex-start;
  flex: 0 0 20%;
  flex-direction: column;
  margin-bottom: 20px;
}
.category dropdown-menushow {
  background-color: black;
  color: whitesmoke;
}

/*==== book page  ====*/
.book-page a {
  text-decoration: none;
}
.book-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  padding-bottom: 50px;
}
.book-desc-box {
  box-shadow: 0 10px 15px 2px #0000001a;
  padding: 50px 50px 0px 50px;
  border-radius: 0 0 15px 15px;
}
.book-tabs {
  margin-top: 60px;
  border: navajowhite;
  border: none;
}

.book-tabs li a {
  border: none;
  padding: 0.8rem 1rem;
  border: none !important;
}
.book-tabs li a:hover {
  background: transparent !important;
  color: initial;
  color: gray !important;
}

.book-tabs li a.active {
  border: none;
  color: black !important;
  box-shadow: 0 17px 20px -12px #f6c35aba;
}
h1.book-head {
  font-family: "montserrat-bold";
  font-size: 38px;
}

.col-md-9.box-desc-row {
  background: #ebebeb;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  margin: 5px 0px 10px 15px;
}

span.head {
  font-size: 18px;
  text-transform: capitalize;
  font-family: "montserrat-medium";
}

.urban .head {
  margin-left: 5px;
}

.day .head {
  margin: 0 8px;
}

.chapter .head {
  margin-left: 8px;
  line-height: 0px;
}
.stars i {
  color: #f6c35a;
  font-size: 40px;
}

span.stars i:last-child {
  color: #d3d3d385;
}
span.rate {
  font-size: 36px;
  font-family: "montserrat-bold";
  margin: 0 20px;
}

span.rating {
  font-size: 18px;
  color: #999999bf;
}

button.read-btn {
  background: #333333;
  border-radius: 50px;
  padding: 8px 30px;
  border: none;
}

button.read-btn a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "montserrat-bold";
}

span.heart i {
  font-size: 20px;
  padding: 12px;
  background: #d3d3d37d;
  border-radius: 50%;
  margin-left: 15px;
}

.read-buttons {
  margin-top: 10px;
}
img.book-image {
  width: 87%;
}
.book-img-col {
  text-align: center;
}

.book-tabs a {
  color: gray;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "montserrat-medium";
}

.book-tabs li a.active {
  font-size: 20px;
  font-family: "montserrat-bold";
}
h1.description-head {
  font-size: 30px;
  text-transform: capitalize;
  font-family: "montserrat-bold";
  margin-top: 50px;
}

p.description-text {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 40px;
}
h1.books-head {
  font-size: 30px;
  text-transform: capitalize;
  font-family: "montserrat-bold";
  margin-top: 30px;
  margin-bottom: 20px;
}
.review h1.review-head {
  font-size: 30px;
  text-transform: capitalize;
  font-family: "montserrat-bold";
  margin-top: 30px;
  margin-bottom: 20px;
}
.row.review-row {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  align-items: center;
}

.col-md-6.revoew-col {
  text-align: center;
}

.col-md-6.revoew-col .review-head {
  font-size: 18px;
  margin-top: 0;
}

.stars-2 i {
  margin: 0 5px;
}

.stars-2 i:nth-child(4) {
  color: #e8e8e8;
}

.stars-2 i:nth-child(5) {
  color: #e8e8e8;
}

h3.review-subhead {
  font-size: 16px;
  font-family: "montserrat-bold";
  margin-top: 15px;
  margin-bottom: 0;
}

.row.review-row textarea {
  background: #ebebeb;
  resize: none;
  border: none;
  border-radius: 20px;
  padding: 20px;
}
.row.review-row textarea:focus {
  box-shadow: none;
  border: none;
}

button.review-btn {
  background: #333333;
  color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 50px;
  display: block;
  text-align: center;
  margin-left: auto;
}
.col-md-6.revoew-col ~ div {
  padding: 25px 30px;
  border-left: 1px solid lightgray;
}
.review-tabs {
  margin-top: 30px;
  border: none;
}

.review-tabs li a {
  color: gray;
  text-transform: uppercase;
  font-family: "montserrat-medium";
  border: none !important;
}

.review-tabs li a.active {
  border: none;
  border-bottom: 2px solid #436bec !important;
  transition: all 0.3s ease;
}
.review-tabs li a.active:hover {
  border-bottom: 2px solid #436bec !important;
}

.review-tabs li a:hover {
  background: transparent !important;
  border: none !important;
  color: gray !important;
}
img.comment-head-img {
  width: auto;
  height: 18px;
}
.comment-box {
  margin-top: 30px;
}

h3.comment-box-head {
  font-size: 18px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.stars-3 i {
  font-size: 15px;
  margin: 0 2px;
}

.stars-3 i:first-child {
  margin-left: 0;
}
p.comment {
  margin-top: 5px;
  font-size: 18px;
  color: gray;
}

ul.comment-list li {
  list-style-type: none;
  color: gray;
  font-size: 19px;
  margin-bottom: 5px;
}
.row.comment-row {
  justify-content: space-between;
  align-items: flex-end;
}

.row.comment-row .col-md-6 {
  text-align: right;
}

span.more-comment a {
  color: black;
}

span.more-comment a i {
  background: #dadbf2;
  padding: 4px 10px;
  border-radius: 8px;
}
span.time {
  margin-top: 5px;
  font-size: 18px;
  color: gray;
}

.row.comment-row-2 {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.row.comment-row-2 .col-md-7 {
  text-align: right;
}

span.like {
  color: gray;
  font-size: 18px;
  margin-right: 20px;
}

span.like i {
  font-size: 22px;
  margin-right: 10px;
  line-height: 0;
}

span.comment i {
  color: gray;
  font-size: 20px;
  margin-right: 20px;
}

a.dots {
  color: gray;
  font-size: 38px;
}

ul.comment-list {
  padding: 0;
}
span.replies {
  color: #436bec;
}

span.replies i {
  margin-right: 5px;
}
.comment-box > div .col-md-11 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}
img.profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.comment-box .col-md-1 {
  text-align: center;
}

.toc_content {
  padding-top: 70px;
}

span.l-r-head {
  font-size: 18px;
  font-family: "montserrat-medium";
}

.l-r-headcolor {
  color: #436bec;
  margin-left: 15px;
}

.l-r-subhead {
  color: gray;
  margin-left: 15px;
}
.row.toc-top-row {
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid #808080c4;
}

.row.toc-top-row .col-md-3 {
  text-align: right;
}

a.indenticon {
  color: black;
  font-size: 21px;
}
h3.a-t-subhead {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
}
span.numbercount {
  font-size: 20px;
  font-family: "montserrat-medium";
}

h1.volume-head {
  font-size: 20px;
  text-transform: capitalize;
}

h3.volume-time {
  font-size: 17px;
  margin-top: 12px;
  color: #808080cf;
  margin-bottom: 0;
}
.a-t_row .row {
  flex: 48%;
  max-width: 48%;
  padding: 20px 0;
  border-bottom: 1px solid #80808073;
  margin: 0;
}
.row.a-t_row {
  justify-content: space-between;
}
.bg-color {
  background: #d3d3d32e;
}

/*==== book page  end====*/
@media screen and (max-width: 1600px) {
  h1.book-head {
    font-size: 34px;
  }

  button.read-btn a {
    font-size: 16px;
  }

  .book-tabs a {
    font-size: 18px;
  }

  .book-tabs li a.active {
    font-size: 18px;
  }

  p.description-text {
    font-size: 16px;
  }

  span.head {
    font-size: 16px;
  }

  span.rating {
    font-size: 16px;
  }

  span.rate {
    font-size: 32px;
  }
}

@media screen and (max-width: 1440px) {
  h1.book-head {
    font-size: 28px;
  }

  span.head {
    font-size: 14px;
  }

  button.read-btn a {
    font-size: 14px;
  }

  span.rating {
    font-size: 14px;
  }

  span.rate {
    font-size: 28px;
  }

  .book-tabs a {
    font-size: 16px;
  }

  .book-tabs li a.active {
    font-size: 16px;
  }

  p.description-text {
    font-size: 14px;
  }

  h1.description-head {
    font-size: 26px;
  }

  .review h1.review-head {
    font-size: 26px;
  }

  .stars.stars-2 .star-ratings svg {
    width: 40px !important;
    height: 40px !important;
  }

  .stars .star-ratings svg {
    width: 40px !important;
    height: 40px !important;
  }

  .row.review-row textarea {
    font-size: 14px;
    padding: 12px 16px;
  }

  button.review-btn {
    font-size: 14px;
  }

  span.l-r-head {
    font-size: 16px;
  }

  h1.volume-head {
    font-size: 18px;
  }

  h3.volume-time {
    font-size: 15px;
  }

  span.numbercount {
    font-size: 18px;
  }
}

@media (max-width: 1279px) {
  .book-page .container {
    max-width: 90vw;
  }
  h1.book-head {
    font-size: 24px;
  }

  span.head {
    font-size: 12px;
  }

  .stars i {
    font-size: 30px;
  }

  span.rate {
    font-size: 30px;
  }

  span.rating {
    font-size: 14px;
  }

  .stars .star-ratings svg {
    width: 30px !important;
    height: 30px !important;
  }

  button.read-btn a {
    font-size: 12px;
  }

  button.read-btn {
    padding: 8px 20px;
    line-height: 1em;
  }

  span.heart i {
    font-size: 14px;
    padding: 10px;
  }

  .book-tabs li a.active {
    font-size: 14px;
  }

  .book-tabs a {
    font-size: 14px;
  }

  h1.description-head {
    font-size: 24px;
  }

  p.description-text {
    font-size: 13px;
  }

  h1.books-head {
    font-size: 25px;
  }

  .review h1.review-head {
    font-size: 24px;
  }

  .stars.stars-2 .star-ratings svg {
    width: 30px !important;
    height: 30px !important;
  }

  .row.review-row textarea {
    font-size: 12px;
  }

  button.review-btn {
    font-size: 12px;
  }

  span.l-r-head {
    font-size: 14px;
  }

  h3.a-t-subhead {
    font-size: 18px;
  }

  h1.volume-head {
    font-size: 16px;
  }

  h3.volume-time {
    font-size: 13px;
  }

  span.numbercount {
    font-size: 16px;
  }

  .stars-3 i {
    font-size: 14px;
  }

  .stars-2 i {
    margin: 0 2px;
  }

  ul.comment-list li {
    font-size: 16px;
  }

  .row.comment-row-2 {
    margin-top: 0;
  }

  span.time {
    font-size: 17px;
  }

  span.like {
    font-size: 16px;
  }

  span.replies {
    font-size: 15px;
  }
  img.book-image {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .book-desc-box {
    padding: 40px 20px 0px 20px;
  }

  h1.book-head {
    font-size: 19px;
  }

  span.head {
    font-size: 12px;
  }

  .stars i {
    font-size: 23px;
  }

  span.rate {
    font-size: 25px;
    margin: 0 10px;
  }

  span.rating {
    font-size: 14px;
  }

  button.read-btn {
    padding: 6px 21px;
  }

  button.read-btn a {
    font-size: 12px;
  }

  span.heart i {
    font-size: 14px;
    padding: 10px;
  }

  img.book-image {
    width: 100%;
  }

  .col-md-9.box-desc-row {
    margin: 2px 0px 2px 15px;
    padding: 7px 14px;
  }

  .book-tabs {
    margin-top: 30px;
  }

  .book-tabs li a.active {
    font-size: 14px;
    border-radius: 15px;
  }

  .book-tabs a {
    font-size: 14px;
  }
  h1.description-head {
    font-size: 22px;
  }

  p.description-text {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  h1.books-head {
    font-size: 22px;
    margin-top: 10px;
  }

  .review h1.review-head {
    font-size: 22px;
  }

  .col-md-6.revoew-col .review-head {
    margin-bottom: 10px;
  }

  .stars-2 i {
    font-size: 16px;
  }

  .row.review-row textarea {
    font-size: 14px;
  }

  button.review-btn {
    font-size: 13px;
  }

  .col-md-6.revoew-col ~ div {
    padding: 15px 30px;
  }

  h3.comment-box-head {
    font-size: 16px;
  }

  .stars-3 i {
    font-size: 13px;
  }

  p.comment {
    font-size: 14px;
  }

  ul.comment-list li {
    font-size: 13px;
    text-align: left;
  }

  span.time {
    font-size: 15px;
  }

  span.replies {
    font-size: 13px;
  }

  span.like {
    font-size: 14px;
  }

  span.like i {
    font-size: 17px;
  }

  span.comment i {
    font-size: 17px;
  }

  a.dots {
    font-size: 30px;
  }
  .review-tabs li a {
    font-size: 14px;
  }
  h1.volume-head {
    font-size: 14px;
  }

  span.numbercount {
    font-size: 14px;
  }

  h3.volume-time {
    font-size: 13px;
  }

  .a-t_row .row {
    padding: 15px 0;
  }

  h3.a-t-subhead {
    margin-bottom: 10px;
    font-size: 16px;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .modal-css {
    width: 270px;
    height: 740px;
  }
  .forget-pass-modal-css {
    width: 270px;
    height: 740px;
  }
  .google-logIn-div {
    width: 270px;
  }
  .google-logIn-p {
    margin-left: 20px;
  }
  .facebook-logIn-div {
    width: 270px;
  }
  .facebook-logIn-p {
    margin-left: 20px;
  }
  .signIn-logos {
    width: 250px;
    margin-left: 0;
  }
  .ReactModal__Content {
    width: 88%;
    overflow: hidden !important;
  }
  .modal-css {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 120px 0 50px 0;
  }
  .forget-pass-modal-css {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 120px 0 50px 0;
  }
  .modal-css h2 {
    text-align: center;
    font-size: 18px;
  }

  .forget-pass-modal-css h2 {
    text-align: center;
    font-size: 18px;
  }
  p.modal1text {
    margin-top: 10px;
    text-align: center;
  }

  .google-logIn-p {
    font-size: 13px;
    line-height: 31px;
  }

  p.discord-logIn-p a {
    font-size: 12px;
    line-height: 26px;
  }

  .email-login-p {
    font-size: 11px;
    line-height: 32px;
  }
  .google-logIn-div {
    width: 100%;
    margin-top: 0;
  }
  .text-color p {
    margin: 15px 0;
  }
  h1.signup-top {
    margin: 0;
    font-size: 20px;
  }
  .text-color p {
    font-size: 15px;
  }
  .forget {
    text-align: center;
  }
  .book-desc-box {
    padding: 30px 20px 0px 20px;
  }

  img.book-image {
    width: auto;
  }

  h1.book-head {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }

  span.head {
    font-size: 11px;
  }

  .day i {
    font-size: 12px;
  }

  svg.mp-book-chapter-icon {
    width: 10px;
  }

  .day .head {
    margin: 0 5px;
  }

  .chapter .head {
    margin-left: 4px;
  }

  .col-md-9.box-desc-row {
    padding: 9px 15px;
    max-width: 300px;
    margin: 10px auto;
    flex-wrap: wrap;
  }

  .box-desc-row .urban {
    flex: 0 0 30%;
  }

  .box-desc-row .day {
    flex: 0 0 70%;
  }

  .box-desc-row .chapter {
    flex: 0 0 100%;
    text-align: center;
  }

  .box-desc-row .day > span {
    display: flex;
  }

  .stars i {
    font-size: 18px;
  }

  span.rate {
    font-size: 20px;
  }

  span.rating {
    font-size: 12px;
  }
  .desc-box-ratings {
    text-align: center;
    align-items: center !important;
    flex-wrap: wrap;
    row-gap: 5px;
    margin-bottom: 20px;
  }

  .read-buttons {
    text-align: center;
  }

  .book-tabs {
    width: 100%;
    justify-content: center;
  }
  h1.description-head {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
  }

  p.description-text {
    text-align: center;
    font-size: 12px;
  }

  h1.books-head {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
  }

  .books {
    text-align: center;
  }

  .review h1.review-head {
    font-size: 20px;
    text-align: center;
  }

  .row.review-row {
    padding: 30px 0;
  }

  .col-md-6.revoew-col ~ div {
    padding-bottom: 0;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }

  button.review-btn {
    margin: 0 auto;
  }
  img.profile-image {
    width: 40px;
    height: 40px;
  }

  h3.comment-box-head {
    font-size: 14px;
    margin-bottom: 0;
  }

  .stars i {
    font-size: 13px;
  }

  img.comment-head-img {
    height: 15px;
  }

  p.comment {
    font-size: 12px;
  }

  ul.comment-list li {
    font-size: 12px;
  }
  .row.comment-row-2 .col-md-7 {
    line-height: 0;
  }

  .row.comment-row-2 {
    margin: 10px 0;
  }
  span.replies {
    font-size: 12px;
  }
  h1.volume-head {
    font-size: 13px;
  }
  .a-t_row .row {
    flex: 100% 1;
    max-width: 100%;
  }
  span.l-r-head {
    font-size: 14px;
  }
  .l-r-headcolor {
    margin-left: 6px;
  }
  span.comment i {
    margin-right: 10px;
  }
}

/* media query  */
@media (max-width: 374px) {
  .google-logIn-p {
    font-size: 10px;
    line-height: 34px;
  }
  .text-color p {
    margin: 15px 0;
  }

  p.discord-logIn-p a {
    font-size: 11px;
  }
  .forget {
    text-align: center;
    font-size: 14px;
  }
  span.forgot-pass {
    font-size: 14px;
  }
  span.replies {
    font-size: 12px;
  }

  .book-page .container {
    max-width: 100vw;
  }

  span.head {
    font-size: 10px;
  }

  .row.review-row textarea {
    font-size: 12px;
  }

  ul.comment-list li {
    font-size: 11px;
  }

  span.time {
    font-size: 14px;
  }

  span.like {
    font-size: 12px;
    margin-right: 10px;
  }

  span.comment i {
    margin-right: 5px;
  }
  span.l-r-head {
    font-size: 14px;
  }

  .a-t_row .row {
    flex: 100% 0;
    max-width: 100%;
  }
}
