/* Home Page Start */
body,
body #root {
  overflow-x: hidden;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.og-books svg {
  cursor: pointer;
}

.most-popular-books svg {
  cursor: pointer;
}

.completed-books svg {
  cursor: pointer;
}

.section-div {
  margin: 30px 0px;
}
.mobil-block {
  display: none;
}
.book-details {
  padding-left: 15px;
}
.section-heading-div {
  display: flex;
  align-content: center;
  align-items: center;
}
p.view-all {
  margin-left: auto;
  margin-right: 20px;
  font-family: montserrat;
  color: #757575;
  text-transform: uppercase;
  font-size: 14px;
  background: #ebebeb;
  padding: 8px 18px 8px 18px;
  border-radius: 333px;
  align-items: center;
}
p.view-all:hover {
  cursor: pointer;
  background: #c3c3c3;
  color: #555555;
}

.view-all .svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.15em;
}

.section-heading {
  border-left: solid;
  padding-left: 14px;
  font-family: montserrat;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  border-color: #ffc240;
  border-width: 4px;
  height: 45px;
  display: flex;
  align-items: center;
}

.section-heading-inner {
  border-bottom: 4px solid #ffc240;
  width: 90%;
  padding-left: 10px;
  font-family: "Montserrat-SemiBold";
  margin: 0;
  font-size: 25px;
  color: #333333;
  font-weight: 500;
  margin: 10px 0px 20px 0px;
}

.spacing-adjust {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  align-content: center;
  max-width: 100%;
  /* flex-wrap: nowrap; */
  justify-content: center;
  margin: 0 auto;
}
.most-popular-books {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px 0 20px;
}

.mp-book-image {
  height: 158px;
  border-radius: 7px;
  /* for animation:  */
  transition: transform 0.5s ease;
  width: 35%;
  height: 100%;
  border-radius: 7px;
}

.most-wanted-books .mp-cs-text {
  margin: 0;
  font-family: "Montserrat-medium";
  font-size: 12px;
  position: absolute;
  top: 6px;
  left: 5px;
  color: #ecd153;
  margin-bottom: 37px;
}
.most-wanted-books {
  margin-bottom: 37px !important;
}

.mp-book-image:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  cursor: pointer;
}

.most-popular-books .book-details {
  padding-left: 12px;
}

.mp-book-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  max-height: 44px;
  text-transform: capitalize;
  color: #444444;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0;
  margin-top: 3px;
}

.mp-book-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mp-book-category {
  display: flex;
  align-content: center;
  align-items: center;
  max-height: 31px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.svg-inline-mp-cat-icon {
  width: 18px;
  height: 18px;
  display: flex;
  fill: #8d939d;
}

.mp-book-category-tag {
  font-family: montserrat;
  text-transform: capitalize;
  padding-left: 4px;
  font-weight: 500;
  color: #8d939d;
  margin: 0;
  font-size: 14px;
}

.mp-book-status {
  margin-left: auto;
  font-family: montserrat;
  text-transform: capitalize;
  padding-left: 4px;
  font-weight: 500;
  color: #8d939d;
  font-size: 14px;
}

.mp-book-description {
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin: 0;
  padding: 2px 0 2px 0;
}

.mp-book-chapters {
  display: flex;
  margin: 0;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  align-items: center;
}

svg.mp-book-chapter-icon {
  width: 12px;
  height: 16px;
  fill: #444444;
}

p.mp-book-chapter-number {
  padding-left: 4px;
  font-family: montserrat;
  font-weight: 500;
  font-size: 14px;
  color: #444444;
  margin: 0;
}

svg.mp-favorite-heart {
  transform: scale(0.8);
  margin-left: auto;
  fill: #8d939d;
}

svg.mp-favorite-heart2 {
  transform: scale(0.8);
  margin-left: auto;
  fill: #f70000;
  cursor: pointer;
}

svg.mp-favorite-heart:active {
  fill: #f70000;
}

.subcription p {
  font-weight: 600;
  background-color: #ffa8a8;
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
}

/************MOST POPULAR BOOK END*************/

.og-image-and-text-container {
  position: relative;
}

.og-books:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  /* box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    border-radius: 7px; */
}
.og-book-chapters {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
}
.og-books {
  display: flex;
  transition: transform 0.5s ease;
  cursor: pointer;
  flex-direction: column;
  margin-bottom: 30px;
}

.og-books .mp-cs-text {
  margin: 0;
  font-family: "Montserrat-medium";
  font-size: 17px;
  position: absolute;
  top: 9px;
  left: 9px;
  color: #ecd153;
  display: none;
}
.og-book-image {
  width: 165px;
  object-fit: contain;
}

.og-books .og-book-status {
  position: absolute;
  top: 2px;
  right: 28px;
  font-family: "Montserrat-Medium";
  font-size: 9px;
  text-transform: uppercase;
  margin: 0;
  display: none;
}
.og-books .og-book-heading {
  font-family: "Montserrat-ExtraBold";
  position: absolute;
  top: 95px;
  width: 100px;
  right: 59px;
  color: white;
  line-height: 29px;
  font-weight: 800;
  font-size: 32px;
  text-transform: capitalize;
  display: none;
}

.og-book-title {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Montserrat-Bold";
  text-transform: capitalize;
  color: rgb(77, 74, 74);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.books-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}
.star-and-rating {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.recent-books-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}

.Top10 {
  max-height: 400px;
  /* flex-wrap: wrap; */
}
.top10Books {
  cursor: pointer;
  display: flex;
  margin: 10px 0px;
}
.recent-books-container .top10Books {
  cursor: pointer;
  display: flex;
  margin: 10px 0px;
}

.top10-image:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.top10-image {
  width: 70px;
  transition: transform 0.5s ease;
  border-radius: 5px;
  object-fit: contain;
}

.top10BookColor_1 {
  color: #e70040;
  font-weight: 500;
  font-family: "poppins";
  margin: 0px 8px;
  font-size: 18px;
}

.top10BookColor_2 {
  color: #ffc240;
  font-family: "poppins";
  font-weight: 500;
  margin: 0px 8px;
  font-size: 18px;
}
.top10BookColor_3 {
  color: #60d6ae;
  font-weight: 500;
  margin: 0px 8px;
  font-family: "poppins";
  font-size: 18px;
}
.top10BookColor_4 {
  color: #646468;
  margin: 0px 8px;
  font-weight: 500;
  font-family: "poppins";
  font-size: 18px;
}
.top10BookColor_5 {
  color: #646468;
  margin: 0px 8px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
}

.top10BookColor_6 {
  color: #e70040;
  margin: 0px 8px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
}

.top10BookColor_7 {
  color: #ffc240;
  margin: 0px 8px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
}

.top10BookColor_8 {
  color: #60d6ae;
  margin: 0px 8px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
}

.top10BookColor_9 {
  color: #646468;
  margin: 0px 8px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
}

.top10BookColor_10 {
  color: #646468;
  font-family: "poppins";
  font-weight: 500;
  margin: 0px 8px;
  font-size: 18px;
}

.top10-book-title {
  font-weight: 500;
  margin: 0;
  font-family: "Montserrat-bold";
  text-transform: capitalize;
  font-size: 18px;
  max-width: 251px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.top10-book-genre {
  margin: 0;
  color: #646468;
  font-size: 14px;
  margin-top: 6px;
  font-family: "Montserrat-Medium";
  text-transform: capitalize;
}
.top10-book-rating {
  margin: 0;
  margin-top: 7px;
  margin-left: 3px;
  font-weight: 500;
  font-family: "sans-serif";
  color: #646468;
  font-size: 17px;
  font-weight: 500;
}

.free-book-label {
  font-size: 50px;
  font-weight: 700;
  font-family: "Montserrat-SemiBold";
  text-align: center;
  margin-bottom: 20px;
}
.recent-updates-label {
  font-size: 50px;
  font-weight: 700;
  color: #333;
  font-family: "Montserrat-SemiBold";
  text-align: center;
  margin-top: 50px;
}

/* Free Book Css  */
.three-lines-image {
  width: 618px;
  height: 376px;
}
.three-lines {
  width: 150px;
  height: 35px;
  top: 143px;
  right: 205px;
  position: absolute;
  transform: rotate(8deg);
}
.free-book-rectangle {
  /* padding: 40px 200px; */
  flex-direction: column;
  box-shadow: 0 0 11px rgb(33 33 33 / 20%);

  display: flex;
  align-items: center;
  justify-content: center;
}
.free-chapters-div {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.timer-and-free-book-details {
  max-width: 676px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.free-book-image .mp-cs-text {
  margin: 0;
  font-family: "Montserrat-medium";
  font-size: 15px;
  position: absolute;
  top: 8px;
  left: 8px;
  color: #ecd153;
}
.free-book-status {
  /* position: relative; */
  /* bottom: 125px; */
  margin-left: 100px;
  transition: transform 0.5s ease;
  /* right: 80px; */
  font-family: "Montserrat-Medium";
  font-size: 12px;
  text-transform: uppercase;
  /* margin: 0; */
}
.free-book-heading {
  /* position: absolute; */
  line-height: 33px;
  transition: transform 0.5s ease;
  /* left: 460px; */
  /* bottom:1000px; */
  font-family: "Montserrat-ExtraBold";
  width: 150px;
  color: white;
  margin-left: 10px;
  margin-top: 70px;
  font-weight: 800;
  font-size: 35px;
  text-transform: capitalize;
  display: none;
}

.free-book-details {
  padding-left: 30px;
}
.category {
  padding-left: 10px;
}
.invoiceView {
  background: rgb(228, 164, 25);
  width: 100%;
  margin-bottom: 10px;
  height: 70px;
  font-size: 20px;
  color: white;
}
.invoiceView a {
  text-decoration: none !important;
}
.free-book-image {
  width: 187px;
  height: 248px;
  /* cursor: no; */
  transition: transform 0.5s ease;
  /* object-fit: contain; */
  background-size: cover;
  position: relative;
  z-index: 1;
  min-width: 187px;
}
/* .free-book-image:hover > * {
  -moz-transform: scale(1.1);
  transform: scale(1.1);
} */
.free-book-title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-family: "Montserrat-Bold";
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(77, 74, 74);
}
p.free-book-category svg {
  font-size: 22px;
}

.free-book-category {
  margin: 0;
  color: rgb(148, 143, 143);
  font-size: 20px;
  font-family: "Montserrat-Medium";
  margin: 6px 0px;
  text-transform: capitalize;
}

.gradient-border {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 20px;
}

.free-book-description {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  font-family: "Montserrat-SemiBold";
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.free-book-chapters {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 19px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
}

/* Categories  */
.book-categories-section {
  margin: 60px 0px;
}

.book-category-label {
  color: white;
  font-family: "Montserrat-ExtraBold";
  font-size: 55px;
  font-weight: 800;
  text-transform: capitalize;
}
.book-category-image {
  /* background-image: `url(${URBAN})`, */
  cursor: pointer;
  background-size: 100% 100% !important;
  height: 180px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}
.book-category-image:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  } */

.table td {
  vertical-align: inherit;
}
.books-table {
  border-radius: 30px;
  overflow: hidden;
  border: 5px solid #f9c559;
  margin-bottom: 4rem !important;
  box-shadow: 1px 3px 9px rgb(42 33 33 / 28%), inset 0 0 9px white;
}
table.recent-update-table {
  border-radius: 15px;
  /* border: 5px solid #ffc240; */
  /* border-left: 10px solid red;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden; */
}
.table-header {
  background-color: #f9c559;
  padding: 10px 0px;
  border-radius: 15px;
}
thead.table-header th {
  font-size: 18px;
}
table.recent-update-table td {
  padding: 8px 40px;
}
thead.table-header th {
  font-size: 18px;
}
.recent-update-table {
  margin-bottom: 10rem;
}
.th-1 {
  padding-left: 4rem !important;
}
.th-2 {
  padding-left: 40px !important;
}
td.read-div {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.read-p {
  background-color: #ffc240;
  font-weight: 500;
  padding: 5px 11px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat-extraBold";
  color: #333;
  width: 86%;
  letter-spacing: 0.5px;
  border-radius: 15px !important;
}
.table-labels {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Montserrat-Medium";
  margin: 0;
}
.timer-div {
  width: 230px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.count-label {
  margin: 0;
  font-size: 20px;
  background-color: #fd8c2a;
  border-radius: 5px;
  padding: 4px 6px;
  color: white;
  font-family: "Montserrat-Medium";
}
.day-label {
  margin: 0 5px;
  font-size: 20px;
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
}

.slider-image {
  width: 100%;
  object-fit: contain;
}

.gradient-blue-ball::before {
  content: "";
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-color: rgb(90 154 199 / 14%);
  position: absolute;
  z-index: 0;
  top: 60px;
  left: 159px;
}
.gradient-green-ball::before {
  content: "";
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: rgb(108 217 167 / 11%);
  position: absolute;
  z-index: 0;
  top: 184px;
  left: 77px;
}
.gradient-red-ball::before {
  content: "";
  width: 125px;
  height: 125px;
  border-radius: 100%;
  background-color: rgb(191 33 157 / 11%);
  position: absolute;
  z-index: 0;
  top: 81px;
  right: -26px;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}

.grounded-radiants {
  position: relative;
  border: 8px solid transparent;
  border-radius: 20px;
  background: white;
  background-clip: padding-box;
  padding: 10px;
  /* just to show box-shadow still works fine */
  box-shadow: 0 3px 9px rgb(42 33 33 / 43%), inset 0 0 9px white;
}

.grounded-radiants::after {
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background: linear-gradient(-13deg, #97e05f, #0de2ac);
  content: "";
  z-index: -1;
  border-radius: 16px;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  font-size: 36px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 36px;
}

.completed-image-and-text-container {
  position: relative;
}

.completed-book-chapters {
  margin: 0;
  color: rgb(77, 74, 74);
  font-size: 13px;
  font-weight: 500;
  font-family: "Montserrat-SemiBold";
}
p.completed-book-chapters svg {
  display: none;
}
.completed-books {
  display: flex;
  cursor: pointer;
  transition: transform 0.5s ease;
  flex-direction: column;
}

.completed-books .mp-cs-text {
  margin: 0;
  font-family: "Montserrat-medium";
  font-size: 17px;
  position: absolute;
  top: 9px;
  left: 9px;
  color: #ecd153;
  display: none;
}
.completed-books:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  /* box-shadow: 0 0 11px rgb(33 33 33 / 20%);
    border-radius: 7px; */
}
.completed-book-image {
  width: 165px;
  object-fit: contain;
}

.completed-books .completed-book-status {
  position: absolute;
  top: 2px;
  right: 28px;
  font-family: "Montserrat-Medium";
  font-size: 9px;
  text-transform: uppercase;
  margin: 0;
}
.completed-books .completed-book-heading {
  font-family: "Montserrat-ExtraBold";
  position: absolute;
  top: 95px;
  width: 100px;
  right: 59px;
  color: white;
  line-height: 29px;
  font-weight: 800;
  font-size: 32px;
  text-transform: capitalize;
  display: none;
}

.completed-book-title {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: 20px;
  font-family: "Montserrat-Bold";
  text-transform: capitalize;
  color: rgb(77, 74, 74);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.complete_novels .row {
  margin-left: 8px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: none;
}
tr.color-border {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.read-p {
  margin: 10px auto;
}
/* Home Page End */
/* Extraa */

.free-book-image div {
  position: absolute;
  z-index: 9;
}

.table-header-labels {
  font-family: "Montserrat-SemiBold";
}

/*------ new css -----*/

.tabs-header .nav-item .nav-link {
  color: #cbcbcb;
  font-size: 16px;
  letter-spacing: 0.5px;
}

a.nav-link:hover {
  background: darkgrey !important;
  color: #ffffff !important;
}

.myitem svg {
  font-size: 22px;
}

.row.header-items .myitem:nth-child(2) {
  padding-left: 0;
}
.myitem svg {
  font-size: 22px;
}

.row.header-items .myitem:nth-child(2) {
  padding-left: 0;
}

.search-container {
  padding: 8px 10px !important;
}
.myitem svg {
  font-size: 22px;
}
.row.header-items .myitem:nth-child(2) {
  padding-left: 0;
}
.search-container {
  padding: 7px 10px;
}
.search-textInput {
  font-size: 19px;
  font-weight: bold;
}
.community-link {
  margin: 0 !important;
}
.top-10-section {
  margin-top: 4rem;
}
.tabs-header {
  display: none;
}
.slick-next.slick-disabled:before,
.slick-next:before {
  font-size: 36px;
  content: "\f0da";
  font-family: fontawesome;
}
.slick-prev.slick-disabled:before,
.slick-prev:before {
  font-size: 36px;
  content: "\f0d9";
  font-family: fontawesome;
}
.side-bar-tabs > li.nav-item {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
}

.bookmarks-chapters-div {
  margin-top: 5px;
  background-color: #ffc107;
  border-radius: 25px;
  width: inherit;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.package-info-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}
.package-info-div img {
  min-height: 233px;
}
/*======= searchbar page ===========*/

.loader {
  display: flex;
  /* padding-left:35%; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
}
.search-page {
  font-family: "Montserrat-Medium";
}
.search-page {
  padding-top: 35px;
  padding-bottom: 50px;
}
h1.sidebar-heading {
  font-size: 27px;
  font-family: "Montserrat-semibold";
  margin-bottom: 30px;
  color: #333;
}
.side-bar-tabs .nav-link {
  color: #666;
  font-size: 18px;
  margin-bottom: 12px;
}
/* .side-bar-tabs .nav-link.active {
  background: darkgray;
} */

.top-main-head {
  font-size: 28px;
  color: rgba(18, 18, 23, 0.6);
  font-family: "montserrat-semibold";
  padding-bottom: 20px;
  border-bottom: 2px solid #ebeaea;
}

h3.top-heading {
  font-size: 16px;
  color: rgb(93 93 110 / 60%);
  font-family: "montserrat-semibold";
  margin-top: 10px;
}
/* .serach-tabs {
  margin-top: 12px;
} */

.serach-tabs .nav-link {
  border: 2px solid #8080803d;
  border-radius: 50px;
  color: #666;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 10px;
}
/* .search-tabs .nav-link.active {
  background-color: darkgray;
} */

.serach-tabs .nav-link.active {
  background: darkgray;
}

.serach-tabs .nav-item:last-child .nav-link {
  margin-right: 0;
}
.top-row .top-col {
  padding-right: 0;
}
.sort-heading {
  margin-top: 2.5rem;
}
span.chapter svg {
  width: 1.2rem;
  height: 1.2rem;
}
.featured-img {
  width: 100%;
  height: 100%;
}
h1.novel-heading {
  font-size: 20px;
  font-family: "montserrat-semibold";
}

p.novel-excerpt {
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0;
  letter-spacing: 0.5px;
  color: #666;
  margin-bottom: 0;
}

span.rating {
  color: #777;
  margin-right: 14px;
  font-family: "montserrat-semibold";
  font-size: 16px;
}

span.chapter {
  color: #777;
  font-size: 16px;
  font-family: "montserrat-semibold";
}

span.chapter svg path {
  fill: #777 !important;
}

.star i {
  color: red;
}
.sorting-content .row {
  align-items: flex-end;
}
.rating-chapter i {
  cursor: pointer;
}
.rating-chapter {
  margin-top: 5px;
  /* margin-bottom: 1rem; */
}
.sorting-content {
  margin-top: 2rem;
}

span.iconTick {
  background: rgb(228, 164, 25) !important;
  background-image: none !important;
}
.iconTick {
  background-image: none !important;
  background-color: rgb(228, 164, 25) !important;
}
.novel-box {
  margin-bottom: 1.5rem;
  cursor: pointer;
}
span.rating i {
  margin-right: 5px;
}
.novel-box a {
  color: #333;
}
.novel-box a:hover {
  text-decoration: none;
}
.side-bar-tabs .nav-link {
  display: inline-block;
}

/*======= searchbar page end===========*/

/* OVERWRITE CSS START */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: grey;
  background-color: white;
}
/* OVERWRITE CSS END */

/*----- media query start ----*/
@media (max-width: 1600px) {
  svg.svg-inline-header-cat-icon {
    width: 20px;
    height: 20px;
  }

  .myitem svg {
    font-size: 18px;
  }

  .search-textInput {
    font-size: 18px !important;
  }

  .search-textInput::placeholder {
    font-size: 18px;
  }

  p.cat-label-text {
    font-size: 18px;
  }

  p.mp-books-header-title {
    font-size: 34px;
  }

  .section-heading {
    font-size: 34px;
  }

  .top10-book-title {
    font-size: 16px;
  }

  .top10BookColor_1,
  .top10BookColor_2,
  .top10BookColor_3,
  .top10BookColor_4,
  .top10BookColor_5,
  .top10BookColor_6,
  .top10BookColor_7,
  .top10BookColor_8,
  .top10BookColor_9 {
    font-size: 16px;
  }

  .free-book-label {
    font-size: 44px;
  }

  .free-book-title {
    font-size: 22px;
  }

  .free-book-description {
    font-size: 16px;
  }

  .free-book-category {
    font-size: 18px;
  }

  p.free-book-category svg {
    font-size: 20px;
  }

  .free-book-chapters svg {
    font-size: 16px;
  }

  .free-book-chapters {
    font-size: 16px;
  }

  .read-p {
    font-size: 15px;
  }

  .book-category-label {
    font-size: 50px;
  }

  .recent-updates-label {
    font-size: 44px;
  }

  .table-labels {
    font-size: 15px;
  }
}

@media (max-width: 1440px) {
  p.cat-label-text {
    font-size: 16px;
  }

  .cat-label {
    font-size: 16px;
  }

  .myitem svg {
    font-size: 16px;
  }

  svg.svg-inline-header-cat-icon {
    width: 18px;
    height: 18px;
  }

  .search-textInput {
    font-size: 16px !important;
    height: auto;
  }

  .search-textInput::placeholder {
    font-size: 16px;
  }

  .header-sign-in-btn {
    font-size: 14px;
  }

  .header-logo {
    width: 170px;
  }

  .og-book-title {
    font-size: 16px;
  }

  .free-book-title {
    font-size: 20px;
    line-height: 1.2em;
  }

  .free-book-description {
    font-size: 13px;
  }

  .free-book-category {
    font-size: 16px;
  }

  p.free-book-category svg {
    font-size: 18px;
  }

  .free-book-chapters {
    font-size: 14px;
  }

  .book-category-label {
    font-size: 38px;
  }

  .recent-updates-label {
    font-size: 40px;
  }

  .table-labels {
    font-size: 14px;
  }

  thead.table-header th {
    font-size: 16px;
  }

  .read-p {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: 1366px) {
  /*----- searchbar page ----*/

  .serach-tabs .nav-link {
    font-size: 12px;
  }
  .side-bar-tabs .nav-link {
    font-size: 16px;
  }
  h1.sidebar-heading {
    font-size: 22px;
  }
  .top-main-head {
    font-size: 24px;
  }
  p.novel-excerpt {
    font-size: 14px;
  }

  /*----- searchbar page ----*/
}

@media screen and (max-width: 1279px) {
  p.cat-label-text {
    font-size: 12px;
  }

  .header-logo {
    width: 140px;
  }

  svg.svg-inline-header-cat-icon {
    width: 14px;
    height: 14px;
  }

  .myitem svg {
    font-size: 13px;
  }

  .search-textInput {
    font-size: 12px !important;
  }

  .search-textInput::placeholder {
    font-size: 12px;
  }

  .myitem svg {
    width: 14px;
    height: 14px;
    font-size: 12px;
  }

  .search-container {
    padding: 6px 8px !important;
  }

  .header-sign-in-btn {
    font-size: 12px;
    width: 83px;
    height: 28px;
  }

  .og-book-title {
    font-size: 12px;
  }

  .og-books {
    padding: 0 8px;
  }

  svg.mp-favorite-heart {
    width: 18px;
    height: 18px;
  }

  .top10-book-title {
    font-size: 12px;
  }

  .top10BookColor_1,
  .top10BookColor_2,
  .top10BookColor_3,
  .top10BookColor_4,
  .top10BookColor_5,
  .top10BookColor_6,
  .top10BookColor_7,
  .top10BookColor_8,
  .top10BookColor_9 {
    font-size: 14px;
  }

  .free-book-label {
    font-size: 26px;
  }

  .free-book-title {
    font-size: 18px;
  }

  .free-book-description {
    font-size: 13px;
    line-height: 1.4em;
  }

  .book-category-label {
    font-size: 34px;
  }

  .book-category-image {
    width: 280px;
  }

  .recent-updates-label {
    font-size: 32px;
  }

  .table-labels {
    font-size: 12px;
  }

  thead.table-header th {
    font-size: 14px;
  }

  .read-p {
    font-size: 12px;
  }

  p.view-all {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .most-popular-books {
    margin-bottom: 10px;
  }
}

@media (max-width: 1439px) {
  .section-heading {
    font-size: 24px;
  }

  .mp-book-title {
    line-height: 19px;
    font-size: 16px;
  }

  .mp-book-description {
    line-height: 17px;
  }

  .mp-book-chapters {
    font-size: 14px;
  }

  .mp-image-and-text-container {
    max-width: 30%;
    height: 160px;
  }

  .book-details {
    max-width: 70%;
  }

  .og-book-image {
    width: 160px;
  }

  .og-books .og-book-heading {
    right: 48px;
  }

  .og-book-title {
    line-height: 19px;
  }
  .top10-book-title {
    font-size: 14px;
  }

  .free-book-label {
    font-size: 30px;
  }

  .free-book-description {
    font-size: 13px;
  }

  .package-info-div img {
    min-height: 210px;
  }

  .book-category-label {
    font-size: 40px;
  }

  .completed-book-image {
    width: 160px;
  }

  .completed-books .completed-book-heading {
    right: 48px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1200px) {
  .mp-image-and-text-container {
    width: 100%;
  }
  .book-category-image {
    width: 300px;
  }
  .mp-book-image {
    width: 114px;
  }
  .most-popular-books .mp-book-heading {
    top: 55px;
    /* right: -5px; */
  }
  .og-books .og-book-status {
    right: 0px;
  }
  .og-books .og-book-heading {
    right: 15px;
  }

  .top10-book-title {
    width: 150px;
  }
  .top10-book-genre {
    font-size: 13px;
  }
  .completed-books .completed-book-status {
    right: 1px;
  }

  .section-heading {
    font-size: 22px;
  }
  /* .most-popular-books .mp-book-heading {
    right: 50px;
  } */

  .book-details {
    padding-left: 0px;
  }

  .og-books .og-book-heading {
    right: 48px;
    line-height: 26px;
    font-size: 28px;
  }

  .og-books {
    margin-bottom: 2rem;
  }

  .top-10-section {
    margin: 0;
  }

  .section-heading-inner {
    font-size: 22px;
  }

  .free-book-label {
    margin-top: 3rem;
  }
  .completed-books .completed-book-status {
    display: none;
  }

  .completed-books .completed-book-heading {
    right: 50px;
    font-size: 28px;
    line-height: 26px;
  }

  .completed-book-title {
    font-size: 15px;
    line-height: 17px;
  }

  .completed-books {
    margin-bottom: 2rem;
  }

  .section-heading {
    margin: 30px 0px;
  }
  .recent-update-table {
    margin-bottom: 6rem;
  }

  /*== searchbar page ==*/

  h1.novel-heading {
    font-size: 16px;
  }
  span.rating {
    font-size: 12px;
  }
  span.chapter {
    font-size: 12px;
  }
  /*== searchbar page end==*/
}

@media (max-width: 1024px) and (min-width: 992px) {
  .ongoing_novel .col-lg-2 {
    flex: 0 0 24.666667%;
    max-width: 24.666667%;
  }
  .complete_novels .col-lg-2 {
    flex: 0 0 24.666667%;
    max-width: 24.666667%;
  }

  /*=== searchbar page ===*/

  .side-bar-tabs .nav-link {
    font-size: 14px;
  }
  .content-type-tabs li:last-child {
    margin-top: 10px;
  }
  h1.novel-heading {
    font-size: 16px;
  }
  p.novel-excerpt {
    font-size: 13px;
  }
  .star i {
    font-size: 14px;
  }
  span.rating {
    font-size: 12px;
  }
  span.chapter {
    font-size: 12px;
  }
  /*=== searchbar page end===*/
}
@media (max-width: 1024px) and (min-width: 768px) {
  .section-div.most_popular
    .row.center-most-popular-in-mobile.spacing-adjust
    .most-popular-books {
    width: 50%;
    max-width: 100%;
    padding: 0;
  }
  .section-div.most_popular
    .row.center-most-popular-in-mobile.spacing-adjust
    .most-popular-books {
    max-width: 100% !important;
    width: 50% !important;
  }
  .section-div.most_popular .row.center-most-popular-in-mobile.spacing-adjust {
    display: flex !important;
  }
  img.mp-book-cover {
    object-fit: contain;
    height: 100% !important;
  }
  p.mp-books-header-title {
    font-size: 22px !important;
  }
}

@media (max-width: 991px) {
  .section-div.most_popular
    .row.center-most-popular-in-mobile.spacing-adjust
    .most-popular-books {
    width: 80% !important;
    justify-content: center;
  }

  .books-container {
    height: auto;
  }

  table.recent-update-table td {
    padding: 12px 20px 5px 20px;
  }

  .most-popular-books {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .free-book-label {
    margin: 0;
    margin-bottom: 1rem;
  }
  .mp-image-and-text-container {
    width: 147%;
  }
  .mp-book-image {
    width: 90px;
  }
  .most-popular-books .mp-book-heading {
    font-size: 16px;
    top: 59px;
    /* right: -12px; */
  }
  .mp-book-title {
    font-size: 15px;
  }
  .mp-book-category {
    font-size: 10px;
  }
  .mp-book-description {
    font-size: 12px;
    max-width: 250px;
  }
  .mp-book-chapters {
    font-size: 10px;
  }
  .view-all {
    font-size: 12px;
  }
  .og-book-image {
    width: 136px;
  }
  .og-books .og-book-status {
    right: -15px;
    font-size: 7px;
  }
  .og-books .og-book-heading {
    right: 37px;
    font-size: 22px;
    top: 74px;
    line-height: 22px;
  }
  .og-book-title {
    font-size: 14px;
  }
  .og-book-chapters {
    font-size: 10px;
  }
  .section-heading-inner {
    font-size: 16px;
  }

  .star-and-rating .star-ratings svg {
    width: 14px !important;
    height: 14px !important;
  }

  .top-10-section {
    padding-bottom: 40px;
  }

  .top10Books {
    width: 235px;
    align-items: flex-start;
  }

  .top10-image {
    width: 60px;
  }

  .top10-book-title {
    font-size: 12px;
  }

  .top10BookColor_1 {
    font-size: 14px;
  }
  .top10BookColor_2 {
    font-size: 14px;
  }
  .top10BookColor_3 {
    font-size: 14px;
  }
  .top10BookColor_4 {
    font-size: 14px;
  }

  .top10BookColor_5 {
    font-size: 14px;
  }
  .top10BookColor_6 {
    font-size: 14px;
  }

  .top10BookColor_7 {
    font-size: 14px;
  }
  .top10BookColor_8 {
    font-size: 14px;
  }

  .top10BookColor_9 {
    font-size: 14px;
  }
  .top10BookColor_10 {
    font-size: 14px;
  }
  .top10-book-genre {
    font-size: 12px;
  }
  .section-heading-inner {
    padding-left: 0;
  }
  .free-book-image {
    width: 182px;
    height: 230px;
  }
  .free-book-description {
    font-size: 14px;
    line-height: 21px;
  }
  .free-book-chapters {
    font-size: 14px;
  }
  .free-book-category {
    font-size: 16px;
  }
  .book-category-image {
    width: 195px;
    height: 112px;
  }
  .book-category-label {
    margin: 0;
    font-size: 30px;
  }
  .read-p {
    font-size: 10px;
    margin: 0;
    width: unset;
  }
  .recent-updates-label {
    font-size: 28px;
    margin-top: 20px;
  }

  thead.table-header th {
    font-size: 16px;
  }
  .table-labels {
    font-size: 12px;
  }
  .section-heading {
    font-size: 20px;
  }

  .completed-book-image {
    width: 136px;
  }
  .completed-books .completed-book-status {
    right: -15px;
    font-size: 7px;
  }
  .completed-books .completed-book-heading {
    right: 37px;
    font-size: 22px;
    line-height: 22px;
    top: 74px;
  }
  .completed-book-title {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .completed-book-chapters {
    font-size: 10px;
  }
  .user-acc-circle {
    margin-left: 5px;
  }
  .free-book-heading {
    font-size: 30px;
    line-height: 30px;
    margin-top: 60px;
  }

  .free-book-title {
    font-size: 20px;
  }

  .count-label {
    font-size: 18px;
    padding: 2px 4px;
  }
  .prof-subs {
    flex-direction: column;
    display: flex;
  }
  .prof-subs h2 {
    font-size: 20px;
  }
  .prof-subs p {
    font-size: 15px;
  }

  .timer-and-free-book-details d-flex {
    align-items: center;
  }

  .timer-and-free-book-details .d-flex {
    align-items: center;
  }

  .timer-and-free-book-details {
    margin: 30px 30px;
  }
  .mobil-block {
    display: block;
  }

  /*==== searchbar page ===*/

  .side-bar-tabs .nav-link {
    font-size: 13px;
  }
  .content-status {
    margin-top: 25px !important;
  }
  h1.sidebar-heading {
    font-size: 18px;
  }
  h3.top-heading {
    font-size: 15px;
  }
  p.novel-excerpt {
    font-size: 13px;
  }
  span.rating {
    font-size: 14px;
  }
  span.chapter {
    font-size: 14px;
  }
  .star i {
    font-size: 16px;
  }
  .top-main-head {
    font-size: 20px;
  }
  .side-bar-tabs > li.nav-item {
    flex: 100%;
  }

  /*==== searchbar page end===*/
}

@media (max-width: 767px) {
  .slick-slider {
    display: none;
  }
  .completed-books .mp-cs-text {
    font-size: 14px;
  }

  .timer-div {
    position: relative;
    left: 0;
    top: -29px;
    margin-bottom: 10px;
  }

  .timer-and-free-book-details .d-flex {
    flex-direction: column !important;
  }

  .top10Books > p {
    color: black;
  }
  .complete_novels .row {
    width: calc(100% + 30px);
    align-items: center;
    justify-content: center;
    background: #f5f7fd;
    padding-top: 20px;
  }
  .complete_novels .section-heading {
    margin-bottom: 10px;
  }
  .books-table {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .recent-updates-label {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .complete_novels .row {
    margin-left: 0;
  }
  .view-all {
    display: none;
  }
  .recent-books-container {
    height: 400px;
  }
  .books-container {
    height: 597px;
  }
  .mp-book-title {
    font-size: 12px;
  }
  .mp-image-and-text-container {
    width: 100% !important;
    max-width: 30%;
  }
  .book-details {
    max-width: 70%;
  }
  .mp-book-title {
    -webkit-line-clamp: 1 !important;
  }
  p.mp-books-header-title {
    font-size: 22px !important;
    font-family: "montserrat-semibold" !important;
  }
  .mp-book-image {
    width: 100% !important;
  }
  .books-container {
    overflow-x: scroll;
  }
  /*.spacing-adjust {
    margin: 0 auto;
    justify-content: space-between;
  }*/

  .og-books .og-book-status {
    left: 76px;
    right: 0;
    top: 2px;
  }
  .og-books .og-book-heading {
    left: 17px;
    right: 0;
    font-size: 28px;
    top: 70px;
  }
  .og-books {
    margin-bottom: 20px;
  }
  .og-book-image {
    width: 140px;
  }
  .og-book-title {
    font-size: 14px;
  }
  .og-book-chapters {
    font-size: 13px;
  }
  .og-book-title {
    margin-top: 5px;
  }
  .most-popular-books .mp-book-heading {
    font-size: 18px;
    top: 37px;
    /* right: -19px; */
  }
  .top10-image {
    width: 66px;
  }
  .top10-book-title {
    font-size: 14px;
  }
  .book-category-image {
    width: 245px;
    margin-bottom: 15px;
  }
  .table-labels {
    font-size: 12px;
  }
  .read-p {
    font-size: 10px;
    width: 84px;
    height: 27px;
    line-height: 20px;
  }

  .free-book-label {
    margin-top: -45px;
  }

  .completed-books .completed-book-status {
    left: 76px;
    right: 0;
    top: 2px;
  }
  .completed-books .completed-book-heading {
    left: 17px;
    right: 0;
    font-size: 28px;
    top: 70px;
  }
  .completed-books {
    margin-bottom: 20px;
  }
  .completed-book-image {
    width: 140px;
  }
  .completed-book-title {
    font-size: 14px;
  }
  .completed-book-chapters {
    font-size: 13px;
  }
  .completed-book-title {
    margin-top: 5px;
  }
  .most-popular-books .mp-book-heading {
    font-size: 18px;
    left: 5px;
    top: 62px;
  }
  .most_popular .section-heading {
    margin-bottom: 0;
    margin-top: 0.55rem;
  }
  .ongoing_novel {
    margin-top: 0;
  }
  .og-book-title {
    display: none;
  }
  .ongoing_novel .col-lg-2 {
    padding-left: 0;
    padding-right: 13px;
  }
  .most_popular {
    margin-bottom: 5px;
  }

  .book-details {
    max-width: 100%;
    text-align: left;
    padding: 0;
  }

  .mp-book-title {
    font-size: 13px;
    line-height: 14px;
  }
  .top_ranking .section-heading-inner {
    margin-top: 1rem;
    border: none;
    background: white;
    margin-left: -15px;
    width: 426px;
    padding: 12px 15px;
  }
  .top_ranking .section-heading {
    margin-bottom: 0;
  }
  .top_ranking .col-md-8,
  .top_ranking .col-md-4 {
    background: #f6f7fd;
  }
  .top_ranking .col-md-4 {
    padding-bottom: 20px;
  }
  .gradient-red-ball::before {
    display: none;
  }
  .gradient-blue-ball::before {
    display: none;
  }
  .three-lines-image {
    display: none;
  }
  .free-book-title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .top10-image {
    border-radius: 6px;
  }
  .section-heading-inner {
    font-size: 25px;
  }
  .top_ranking .row-425.row-426 img {
    width: 72px;
  }
  .top_ranking hr {
    display: none;
  }
  .top_ranking .col-md-8 .section-heading-inner {
    display: none;
  }
  .timer-and-free-book-details {
    margin: 30px 0px;
  }
  .section-heading {
    border: none;
    margin-left: 0;
    padding-left: 2px;
    font-size: 26px !important;
  }
  .most-popular-books .mp-book-heading {
    display: none;
  }
  .tabs-header .nav-link {
    padding: 0.5rem 0.2rem;
  }

  /*==== searchbar page ===*/

  .side-bar-tabs > li.nav-item {
    flex: 33.33% 1;
    text-align: center;
  }
  .side-bar-tabs > li.nav-item a {
    border: 1px solid #999;
  }
  .side-bar-tabs > li.nav-item a {
    display: block;
    margin: 0 6px;
    margin-bottom: 12px;
    padding: 8px 7px;
  }
  .serach-tabs .nav-item {
    width: 50%;
    text-align: center;
    margin-bottom: 12px;
  }
  .serach-tabs .nav-item:last-child .nav-link {
    margin-right: 10px;
  }
  h1.sidebar-heading {
    font-size: 20px;
  }
  .top-main-head {
    margin-top: 1.2rem;
  }
  h1.novel-heading {
    font-size: 18px;
  }
  p.novel-excerpt {
    font-size: 14px;
  }
  span.rating {
    font-size: 12px;
  }
  span.chapter {
    font-size: 12px;
  }
  .star i {
    font-size: 13px;
  }
  .serach-tabs .nav-link {
    font-size: 13px;
  }
  /*==== searchbar page end===*/
}

@media (max-width: 767px) {
  .center-most-popular-in-mobile {
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px;
  }
}

@media (max-width: 767px) {
  .og-book-image {
    width: 100% !important;
  }
  .tabs-header {
    display: block;
  }
  tr {
    display: table-row;
  }

  thead.table-header {
    display: none;
  }

  table.table.recent-update-table.table-striped {
    margin: 0;
    margin-top: 20px;
  }
  td.read-div {
    display: none;
  }
  tbody tr td:nth-child(1) {
    /* background-color: red; */
    width: 150px;
  }
  tbody tr td:nth-child(2) {
    width: 40px;
    font-weight: 800;
    /* background-color: green; */
  }
  tbody tr td:nth-child(3) {
    width: 92px;
    /* background-color: yellow; */
  }
  thead tr th:last-child {
    display: none;
  }
  /* tbody tr td:last-child {
    display: none;
    background-color: blue;
  } */
  .timer-and-free-book-details {
    max-width: 100%;
  }

  .recent-books-container::-webkit-scrollbar {
    display: none;
  }
  .books-container::-webkit-scrollbar {
    display: none;
  }
  .spacing-adjust::-webkit-scrollbar {
    display: none;
  }
  /*.spacing-adjust {
    -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; /* Firefox */
  /*}*/
  .completed-books .completed-book-heading {
    width: 64px;
  }
  .books-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .top10-book-title {
    font-size: 14px;
    width: 107px;
  }
  .row-425 {
    flex-flow: nowrap;
    overflow-x: auto;
    margin: unset;
  }
  .recent-books-container {
    height: auto;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .row-425.row-426 {
    display: flex;
  }
  .recent-width .top10Books {
    width: 78px;
    display: block;
    margin: 0px 5px;
  }
  .free-book-category {
    margin-top: 2px !important;
    font-size: 16px;
  }
  .free-chapters-div {
    margin: 0;
    margin-top: 0.2rem;
    align-items: center;
    flex-direction: row-reverse;
  }
  .most-popular-books {
    margin-bottom: 20px;
  }

  .mp-book-title {
    font-size: 18px;
  }
  .mp-book-category {
    font-size: 14px;
  }
  .mp-book-description {
    font-size: 14px;
  }
  .mp-book-chapters {
    font-size: 13px;
  }
  .mp-book-image {
    width: 106px;
  }
  .free-book-label {
    font-size: 23px;
  }
  .free-book-rectangle {
    /* width: 292px; */
    width: auto;
  }
  .free-book-image {
    width: 50%;
    height: auto;
    min-width: 140px;
    margin-bottom: 12px;
  }
  .free-book-status {
    margin-left: 44px;
    font-size: 6px;
    margin-top: 2px;
  }
  .free-book-details {
    padding-left: 15px;
  }
  .free-book-heading {
    margin-left: 6px;
    margin-top: 38px;
    line-height: 19px;
    font-size: 18px;

    width: min-content;
  }
  .free-book-title {
    font-size: 18px;
    line-height: 21px;
  }
  .free-book-description {
    font-size: 12px;
    line-height: 17px;
  }
  .free-book-chapters {
    font-size: 11px;
    visibility: hidden;
  }
  .book-categories-section {
    display: none;
  }
  .section-heading {
    font-size: 20px;
  }
  .completed-books {
    width: 100%;
    max-width: 24%;
    margin-right: 0px;
    margin-bottom: 16px;
    padding: 0 4px;
  }
  .completed-books .completed-book-heading {
    top: 55px !important;
    font-size: 17px !important;
    line-height: 16px !important;
  }
  .completed-book-image {
    width: 100%;
  }
  .gradient-blue-ball::before {
    width: 92px;
    height: 92px;
    top: 34px;
    left: 10px;
  }
  .gradient-green-ball::before {
    width: 62px;
    height: 62px;
    top: 186px;
    left: 31px;
  }
  .three-lines {
    width: 150px;
    height: 35px;
    top: 148px;
    right: -23px;
    transform: rotate(14deg);
  }
  .three-lines-image {
    width: 239px;
    height: 176px;
    /* background: red; */
  }
  .completed-books .completed-book-status {
    left: 50px;
    right: 0;
    top: 1px;
    font-size: 7px;
  }
  .completed-books .completed-book-heading {
    left: 7px;
    right: 0;
    font-size: 20px;
    line-height: 16px;
    top: 52px;
    text-transform: capitalize;
    display: none;
  }
  .completed-book-chapters {
    display: none;
  }
  .completed-book-title {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .completed-books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
  }
  /* .books-table {
    width: 290px;
  } */

  .recent-updates-label {
    font-size: 20px;
    padding: 5px 0;
    font-weight: 700;
    margin-bottom: -36px !important;
    /* margin-left: -15px;
    margin-right: -15px; */
    text-align: center;
    background-color: #f2bf52;
    border-radius: 20px 20px 0px 0px;
  }
  table.recent-update-table td {
    padding: 8px 8px;
  }
  .books-table {
    box-shadow: none;
    border: 0;
    border-radius: 0;
  }
  .section-heading-inner {
    width: 100%;
  }
  .og-book-image {
    width: 80%;
  }
  .most-popular-books {
    margin-bottom: 15px !important;
  }
  .og-books .og-book-heading {
    left: 4px;
    right: 0;
    line-height: 11px;
    width: 30px;
    font-size: 11px;
    top: 28px;
    display: none;
  }
  .table-labels {
    font-size: 12px;
    padding: 0px 8px !important;
  }
  .grounded-radiants {
    background-clip: unset;
    padding: 0;
  }
  .books-table {
    margin-bottom: 2rem !important;
  }
  .table td {
    padding-right: 0;
  }
  .og-books .og-book-status {
    left: 31px;
    right: 0;
    top: 1px;
    font-size: 4px;
  }
  .og-books {
    padding-right: 0;
  }
  .og-book-title {
    font-size: 9px;
    line-height: 10px;
  }
  .og-book-chapters {
    display: none;
  }
  .free-book-label {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .recent-books-container .top10BookColor_1 {
    display: none;
  }
  .recent-books-container .top10BookColor_2 {
    display: none;
  }
  .recent-books-container .top10BookColor_3 {
    display: none;
  }
  .recent-books-container .top10BookColor_4 {
    display: none;
  }
  .recent-books-container .top10BookColor_5 {
    display: none;
  }
  .recent-books-container .top10BookColor_6 {
    display: none;
  }
  .recent-books-container .top10BookColor_7 {
    display: none;
  }
  .recent-books-container .top10BookColor_8 {
    display: none;
  }
  .recent-books-container .top10BookColor_9 {
    display: none;
  }
  .recent-books-container .top10BookColor_10 {
    display: none;
  }
  .recent-books-container .star-and-rating {
    display: none;
  }
  .recent-books-container .top10-book-title {
    font-size: 10px;
    width: 77px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .recent-books-container .top10-book-genre {
    display: none;
  }

  .most-popular-books {
    width: 80px;
    margin-right: 0px;
    margin-bottom: 16px;
    padding: 0 4px;
    display: block;
  }
  .mp-book-image {
    width: 72px;
    height: 175px;
    object-fit: contain;
  }
  .mp-book-title {
    font-size: 17px;
  }
  .mp-book-category {
    display: none;
  }
  .mp-book-description {
    display: none;
  }
  .mp-book-chapters {
    display: none;
  }
  .mp-book-title {
    margin-top: 5px;
    line-height: 16px;
    font-size: 14px;
  }
  .comunity-and-user-icon {
    justify-content: flex-start !important;
  }
  .community-link {
    margin-left: 0px !important;
  }
  .ongoing_novel .section-heading {
    margin-top: 0;
  }
  .ongoing_novel .section-heading {
    margin-top: 0;
  }

  .og-books .mp-cs-text {
    font-size: 11px;
    top: 2px;
    left: 3px;
  }
  .most_popular .col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: 0px;
    min-height: 200px;
  }
  .section-div.most_popular
    .row.center-most-popular-in-mobile.spacing-adjust
    .most-popular-books {
    margin: 0 auto;
  }
  .section-div.most_popular
    .row.center-most-popular-in-mobile.spacing-adjust
    .most-popular-books {
    max-width: 100% !important;
    width: 100% !important;
  }
  img.mp-book-cover {
    object-fit: contain;
    height: 100% !important;
  }
}

@media (max-width: 375px) {
  p.mp-books-header-title {
    font-size: 16px !important;
  }
  p.mp-book-description {
    -webkit-line-clamp: 2 !important;
  }
  .mp-book-chapters {
    padding-top: 0 !important;
  }
  .og-book-image {
    width: 70px;
  }
  .completed-books .completed-book-status {
    left: 47px;
    right: 0;
    top: 2px;
    font-size: 5px;
  }
  .completed-books .completed-book-heading {
    left: 6px;
    right: 0;
    font-size: 18px;
    line-height: 16px;
    top: 44px;
    text-transform: capitalize;
  }
  .most-popular-books .mp-cs-text {
    top: 48px;
    left: 5px;
  }
  .most-popular-books .mp-book-heading {
    font-size: 16px;
    line-height: 17px;
  }
  .mp-book-title {
    font-size: 13px;
  }
  .mp-book-image {
    height: 195px;
  }
}

@media (max-width: 348px) {
  h1.novel-heading {
    font-size: 16px;
  }
  p.novel-excerpt {
    font-size: 13px;
  }
  span.chapter {
    font-size: 10px;
  }
  span.rating {
    font-size: 10px;
  }
  .rating-chapter {
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  .completed-books .completed-book-status {
    left: 37px;
    right: 0;
    top: 2px;
    font-size: 5px;
  }
  .completed-books .completed-book-heading {
    left: 5px;
    right: 0;
    font-size: 15px;
    line-height: 16px;
    top: 35px;
    text-transform: capitalize;
  }
  .most-popular-books .mp-cs-text {
    top: 55px;
  }
  .most-popular-books .mp-book-heading {
    font-size: 14px;
    left: 2px;
  }
  .mp-book-title {
    font-size: 12px;
    font-size: 12px;
  }
  .section-heading {
    font-size: 22px !important;
  }
  .ongoing_novel .section-heading {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .top_ranking .section-heading {
    margin-top: 8px;
  }
  .top_ranking .section-heading-inner {
    font-size: 22px;
  }

  .free-book-label {
    font-size: 22px;
  }

  .free-book-title {
    font-size: 15px;
    line-height: 18px;
  }

  .complete_novels .section-heading {
    font-size: 22px;
  }

  .completed-books .mp-cs-text {
    font-size: 13px;
    top: 4px;
    left: 6px;
  }

  .completed-books .completed-book-heading {
    left: 2px;
    margin-top: -19px;
    font-size: 15px !important;
  }

  .completed-book-title {
    font-size: 12px;
  }
  .mp-image-and-text-container {
    height: 148px;
  }
  .most_popular .col-lg-4 {
    margin-top: -44px;
  }
  .top10Books {
    width: 100%;
    position: relative;
  }
  .top10-book-title {
    font-size: 12px;
  }
  .copyright-cs {
    font-size: 12px;
  }
}
.invoicebtn {
  width: 100%;
  margin-bottom: 10px;
  height: 70px;
  font-size: 20px;

  background-color: none;
  color: black;
}
.invoicebtn:hover {
  border: solid 3px rgb(228, 164, 25);
}
.subcancelbtn {
  width: 30%;
  display: flex;
}
.subcancelbtn button {
  margin-left: 10px;
}
.canceltext {
  justify-content: center;
  text-align: center;
}
.modal-dialog {
  width: 50% !important;
}
.cancel {
  height: 45px !important;
  justify-content: center !important;
  text-align: center !important;
  vertical-align: center;
}
.cancelbtn {
  height: 45px;
  width: min-content;
}

@media (max-width: 768px) {
  .section-div.most_popular .row.center-most-popular-in-mobile.spacing-adjust {
    display: block;
  }

  .section-div.most_popular
    .row.center-most-popular-in-mobile.spacing-adjust
    .most-popular-books {
    width: 75%;
    max-width: 90%;
    padding: 0;
  }
}
